@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background-color:#8FBC8F;
}


/* Judul Text */
.text-title{
    font-family: 'Fredoka One', cursive;
}
/* Akhir Judul Text */

/* Button */
.btn-green{
    background-color: #228B22;
    color: white;
    border-radius: 10px;
}
.btn-green:hover{
    background-color: #228B22;
    color: white;
}
/* Akhir Button */

/* Home */

.wrap-home{
    align-items: center;
    height: 100vh;
}
#home h1{
    font-family: 'Fredoka One', cursive;
}
/* Akhir Home */


/* Login */
#login{
    padding-top: 5rem;
}
.image-login{
    width: 50%;
}
#login .card{
    width: 30rem;
    border-radius: 30px;
}
/* Akhir Login */

/* Input leader */
#input-leader{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/* Akhir Input leader */

/* Choose Leader */
#choose-leader{
    padding-top: 3rem;
    font-size: 1.333333333px;
}
.card-choose{
    font-size: 10em;
}
.choose-image{
    width: 270px;
    border-radius: 15px;
    height: 270px;
    object-fit: cover;
}
/* Akhir Choose Leader */

/* Wrap */

.wrap-login{
    height: 75vh;
    align-items: center;
}

.wrap-leader{
    justify-content: center;
    height: 75vh;
    align-items: center;
}

.wrap-logout{
    height: 90vh;
    align-items: center;
}

.wrap-voting{
    justify-content: center;
    height: 80vh;
    align-items: center;
}
/* Akhir Wrap */

/* Leader */
#leader{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.leader-card{
    width: 25%;
    border-radius: 15px;
}

.text-overflow-table{
    text-overflow: ellipsis;
}
/* Akhir Leader */

@media screen and (max-width:994px) {
    #home h1{
        margin-top: -20vh;
    }
    /* Login */
    .image-login{
        width: 50%;
    }
    #login .card{
        width: 80%;
    }
    #login label{
        font-size: 12px;
    }
    #login input::-webkit-input-placeholder {
        font-size: 10px;
    }
    /* Akhir Login */

    /* Input Leader */
    #input-leader{
        padding-top: 2rem;
    }
    #input-leader h3{
        text-align: center;
    }
    /* Akhir Input Leader */

    /* Choose Leader */
    #choose-leader{
        padding-top: 2rem;
    }
    .choose-image{
        width: 150px;
        height: 150px;
    }
    /* Akhir Choose Leader */

    /* Leader */
    .leader-card{
        width: 50%;
    }
    #leader .list{
        margin-top: -10vh;
    }
    /* Akhir Leader */
}